<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd ">


    <!--声明凭证匹配器-->
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"></property>
        <property name="hashIterations" value="2"></property>
    </bean>
    <!--声明自定义的Realm-->
    <bean id="userRealm" class="priv.gd.shiro.UserRealm">
        <!--注入凭证匹配器-->
        <property name="credentialsMatcher" ref="credentialsMatcher"></property>
    </bean>

    <!--配置SecurityManager-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="userRealm"></property>
        <property name="rememberMeManager" ref="cookieRememberMeManager"></property>
    </bean>

    <!--cookie对象;会话Cookie模板-->
    <bean name="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <!--设为true后，只能通过http访问，javascript无法访问-->
        <property name="httpOnly" value="true"></property>
        <!--设置记住我cookie生效时间30天 ,单位秒-->
        <property name="maxAge" value="3600"></property>
        <!--通过构造器设置cookie的名字-->
        <constructor-arg value="rememberMeUser"></constructor-arg>
    </bean>
    <!--cookie管理对象;记住我功能,rememberMe管理器-->
    <bean name="cookieRememberMeManager " class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="rememberMeCookie"></property>
        <!--rememberMe cookie加密的密钥 建议每个项目都不一样 默认AES算法 密钥长度(128 256 512 位)-->
<!--        <property name="cipherKey" value="Base64.decode('4AvVhmFLUs0KTA3Kprsdag==')"></property>-->
    </bean>

    <!--配置shiro过滤器-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"></property>
        <!--设置未跳转的登录界面-->
        <property name="loginUrl" value="/login.jsp"></property>
        <!--设置认证成功页面-->
        <!--<property name="successUrl" value="/index.jsp"></property>-->
        <!--设置未授权的访问页面-->
        <property name="unauthorizedUrl" value="/refuse.html"></property>
        <!--配置过滤器链-->
        <property name="filterChainDefinitions">
            <value>
                <!-- 所有的静态资源要匿名访问 -->
                /login=anon
                /checkcode=anon
                /bootstrap/**=anon
                /layui/**=anon
                /css/**=anon
                /js/**=anon
                /static/**=anon
                /findRoles=perms[baoxiao:rolelist]
                /apply_baoxiao.jsp=perms[baoxiao:apply]
                /myBaoxiaoBill=perms[baoxiao:billquery]
                /myTaskList=perms[baoxiao:tasklist]
                /add_process.jsp=perms[baoxiao:publish]
                /processDefinitionList=perms[baoxiao:processlist]
                /findUserList=perms[user:query]
                /toAddRole=perms[user:create]
                <!-- 退出系统 -->
                /logout=logout
                /**=authc
            </value>
        </property>
    </bean>
</beans>